html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #243B4A;
  color: #87BCDE;
}

#forms {
  text-align: center;
  margin: 0 auto;
}

#forms h1 {
  font-size: 2em;
  padding-left: 1em;
  padding-right: 1em;
  outline: 0.2em dashed #2D4654;
}

#content {
  text-align: center;
  margin: 0 auto;
  margin-top: 100px;
  font-size: 2em;
}

#content h2 {
  font-size: 1em;
}

ul {
  list-style-type: none;
}

#pollTable {
  margin: 0 auto;
}

th{
  padding: 0.25em;
  outline: 2px solid #BFB6BB;
}

td{
  outline: 2px solid #BFB6BB;
  padding: 0.15em;
  background-color: #2D4654;
}

#pollDisplay{
  margin: 10%;
  outline: 2px solid #BFB6BB;
  min-height: 3em;
}

#submittedVotes{
  margin: 0 auto;
  margin-top: 1em;
  text-align: center;
}

.rank{
  margin: 0 auto;
  margin-top: 1em;
  display: block;
}

input{
  background-color: #BFB6BB;
}