html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#forms {
  text-align: center;
  margin: 0 auto;
}

#forms h1 {
  font-size: 2em;
}

#content {
  text-align: center;
  margin: 0 auto;
  margin-top: 100px;
  font-size: 2em;
}

#content h2 {
  font-size: 1em;
}

ul {
  list-style-type: none;
}

#pollTable {
  margin: 0 auto;
}

#pollTable th{
  padding: 0.25em;
  outline: 2px solid black;
}

#pollTable td{
  outline: 2px solid black;
}